{% if menu %}
<h2 class="p-2">{{ menu }}</h2>
{% for item in menu.items.all %}
    <ul>
    {% if not item.parent %}
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{{ item.url }}">{{ item }}</a>
                <ul class="dropdown-menu">
                    {% for child in item.children.all %}
                        <li><a class="dropdown-item" href="{{ child.url }}">{{ child.name }}</a></li>
                    {% endfor %}
                </ul>
        </li>
    {% endif %}
    </ul>
{% endfor %}
{% else %}
    <h3>{{ name }} Menu does not exist </h3>
{% endif %}